@import 'tailwindcss';

@theme static {

    --font-sans: 'Inter', 'sans-serif';
    --font-display: 'Montserrat', 'sans-serif';

    --color-primary: oklch(0.44 0.1672 259.63);
    --color-secondary: oklch(0.89 0.182186 95.3305);
    --color-accent: oklch(1 0 0deg);
}

@layer base {
    body {
        @apply font-sans font-normal p-0 m-0;
    }
}

.top_navbar_link {
    @apply px-3 py-0;
}

.footer_containers {
    @apply flex flex-col gap-1 p-2 max-w-sm;
}

.social_icon {
    @apply w-14 h-14 m-2 hover:bg-primary inline-flex items-center rounded-full border p-2.5 text-center text-sm font-medium transition focus:ring-2 focus:outline-none ;
}

.home_container {
    @apply font-display m-auto flex h-full w-[70%] flex-col justify-center p-2;
}
